.element {
  width: 100px;
  height: 100px;
  background-color: tomato;
  -webkit-animation: KEYFRAME-NAME 5s infinite;
  -moz-animation: KEYFRAME-NAME 5s infinite;
  -o-animation: KEYFRAME-NAME 5s infinite;
  animation: KEYFRAME-NAME 5s infinite;
}

@-webkit-keyframes KEYFRAME-NAME {
  0%  {opacity: 0;}
  100%  {opacity: 1;}
}

@-moz-keyframes KEYFRAME-NAME {
  0%  {opacity: 0;}
  100%  {opacity: 1;}
}

@-o-keyframes KEYFRAME-NAME {
  0%  {opacity: 0;}
  100%  {opacity: 1;}
}



@keyframes KEYFRAME-NAME {
  0%  {opacity: 0;}
  100%  {opacity: 1;}
}
