
body{
  height: 100%;
  top: 0px;
  bottom: 0px;
  background-color: black;
}

/* scene wrapper */
.wrapper{
  position:relative;
  margin: 0 auto;
  display:block;
  margin-top: 200px;
  perspective: 1000px;
    perspective-origin: 60% 50%;
  transform: rotate(-10deg);

}
.wrapper > div {
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  height: 0px;
}
.sol {
  width: 250px;
  position: absolute;
  top: 0px;
  z-index: 1;
  height: 125px;
}
.sol .star {
  width: 250px;
  height: 250px;
  background: url("../images/sol.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  margin: 0 auto;
  animation: spinsun 40s infinite linear;
}
.planeta {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  animation-iteration-count: infinite;
  overflow:hidden;
}
.sombra {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: transparent url("../images/sombra.png") 10% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}


.tierra {
  position: absolute;
  width: 610px;
  z-index:4;
  animation: orbitearth 20s infinite linear;
  top: -20px;
}
.tierra .planeta {
  width:40px;
  height:40px;
  background-image: url("../images/tierra.png");
  animation: anti-spin 20s infinite linear;
}
.tierra .sombra {
  animation: shadow 20s infinite linear;
}


@keyframes spinsun {
  100%   { transform: rotate(360deg); }
}
@keyframes shadow {
  0% { background-position: 130% 0%; }
  33%{ background-position: 50% 0%; }
  55% { background-position: 0% 0%; }
  80%{ background-position: -50% 0%; }
  100%{ background-position: -50% 0%; }
}

@keyframes orbitearth {
  0% { z-index:40; transform: rotateY(0); }
  49% {z-index:40;}
  50% {z-index:-40;}
  99% {z-index:-40;}
  100%{ z-index:40; transform: rotateY(360deg);}
}


/* Keep planet image flat */
@keyframes anti-spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(-360deg); }
}
@keyframes anti-spin-rings {
  from { transform: rotateY(0) rotateX(73deg); }
  to   { transform: rotateY(-360deg) rotateX(73deg); }
}
