body {
  background-color: #EDE862;
}

h1{
  font-weight: bold;
  margin: 5rem 0;
  color: tomato;
  text-align: center;
}

.container{
  width: 1000px;
  height: 100vh;
  margin: auto;
}

.box {
  width: 250px;
  height: 250px;
  background-color: #00587A;
  position: relative;
  animation: derecha 3s ease-in-out infinite;
  -webkit-animation: derecha 3s ease-in-out infinite;
  -moz-animation: derecha 3s ease-in-out infinite;
  -o-animation: derecha 3s ease-in-out infinite;
  /* animation-timing-function: ease-in-out; */
}

@-webkit-keyframes derecha {
  from {
    left: 0px;
  }
  to {
    left: 500px;
  }
}

@-moz-keyframes derecha {
  from {
    left: 0px;
  }
  to {
    left: 500px;
  }
}

@-o-keyframes derecha {
  from {
    left: 0px;
  }
  to {
    left: 500px;
  }
}


@keyframes derecha {
  from {
    left: 0px;
  }
  to {
    left: 500px;
  }
}
