body {
  background: #BBDED6;
  width: 900px;
  margin: auto;
}

.description {
  height: 300px;
  text-align: center;
}

.demo {
  height: 400px;
}

.box2 {
  background-color: orange;
  width: 300px;
  color: white;
  font-size: 16px;
  padding: 0.5rem;
  text-align: center;
  margin: auto;
}

.box1 {
  background-color: black;
  width: 150px;
  height: 150px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  font-size: 1.5rem;
}
